/* Campaign details ***/
.campaign-details { *zoom: 1; padding: 0 1em; margin-bottom: 1em; font-size: 1.1em; background-color: #e6e6e6; }
.campaign-details:before, .campaign-details:after { content: " "; display: table; }
.campaign-details:after { clear: both; }
.campaign-details .percent-raised, .campaign-details .campaign-figures, .campaign-details .campaign-backers, .campaign-details .campaign-expiry { float: left; width: 50%; padding: 1em 0; border-bottom: 1px solid #fff; }
.campaign-details .percent, .campaign-details .amount-raised { display: block; font-size: 1.5em; font-weight: bolder; }
.campaign-details .campaign-backers { clear: left; }
.campaign-details .backers-count, .campaign-details .time-left { font-weight: bolder; }
.campaign-details .pledge-button { float: left; width: 100%; padding: 1em 0; text-align: center; }
.campaign-details .pledge-button .button { display: inline-block; }

/* Campaign pledge options ***/
.pledge-section-header { padding: 32px 0; margin: 0; text-align: center; }

.campaign-pledge-options { margin-top: 32px; }
.campaign-pledge-options .pledge-options { list-style: none; margin: 0; }
.campaign-pledge-options .pledge-option { position: relative; padding: 32px; border-top: 1px solid #cfcfcf; background-color: #f6f6f6; -webkit-transition: .2s background-color; -moz-transition: .2s background-color; -ms-transition: .2s background-color; -o-transition: .2s background-color; transition: .2s background-color; }
.campaign-pledge-options .pledge-option:hover { background-color: #fff; }
.campaign-pledge-options .pledge-option:last-child { border-bottom: 1px solid #cfcfcf; }
.campaign-pledge-options .pledge-option.selected { background-color: #fff; }
.campaign-pledge-options .pledge-option.selected:after { content: "\2713"; color: #fff; background-color: #24890d; padding: 0.5em; position: absolute; top: 2em; right: 0; }
.campaign-pledge-options .pledge-option-input { position: absolute; left: 8px; top: 32px; }
.campaign-pledge-options .pledge-title { margin: 0 0 8px; }
.campaign-pledge-options .pledge-limit { margin-bottom: 16px; font-weight: bolder; font-style: italic; }
.campaign-pledge-options .pledge-description { margin-bottom: 0; }

.campaign-price-input { position: relative; padding: 0 32px; }

.currency { position: absolute; left: 48px; display: block; padding: 16px 0; font-weight: lighter; }

.currency-right .currency { right: 48px; }

#eddcf_donation { width: 100%; padding: 16px 48px; }

.campaign-total-pledge { padding: 32px 0 0; text-align: center; }
.campaign-total-pledge p { margin-bottom: 0; }
.campaign-total-pledge .total-pledge-amount { font-size: 2em; font-weight: bolder; }

.edd_purchase_submit_wrapper { width: 100%; padding: 32px 0; text-align: center; }

.edd-cart-added-alert { width: 100%; padding-top: 8px; text-align: center; }
