/* Campaign details ***/
.campaign-details { *zoom: 1; padding: 0 1em; margin-bottom: 1em; font-size: 1.1em; background-color: #e6e6e6; }
.campaign-details:before, .campaign-details:after { content: " "; display: table; }
.campaign-details:after { clear: both; }
.campaign-details .percent-raised, .campaign-details .campaign-figures, .campaign-details .campaign-backers, .campaign-details .campaign-expiry { float: left; width: 50%; padding: 1em 0; border-bottom: 1px solid #fff; }
.campaign-details .percent, .campaign-details .amount-raised { display: block; font-size: 1.5em; font-weight: bolder; }
.campaign-details .campaign-backers { clear: left; }
.campaign-details .backers-count, .campaign-details .time-left { font-weight: bolder; }
.campaign-details .pledge-button { float: left; width: 100%; padding: 1em 0; text-align: center; }
.campaign-details .pledge-button .button { display: inline-block; }

/* Campaign pledge options ***/
.campaign-pledge-options .pledge-options { list-style: none; margin-left: 0; margin-right: 0; }
.campaign-pledge-options .pledge-option { position: relative; padding-left: 3em; padding-bottom: 2em; margin-bottom: 2em; border-bottom: 1px solid #cfcfcf; }
.campaign-pledge-options .pledge-option-input { position: absolute; left: 1em; top: 0; }
.campaign-pledge-options .pledge-title { margin: 0 0 0.5em; }
.campaign-pledge-options .pledge-limit { margin-bottom: 1em; font-weight: bolder; font-style: italic; }
.campaign-pledge-options .pledge-description { margin-bottom: 0; }

.campaign-price-input { padding: 0 1em 2em 3em; margin-bottom: 1em; border-bottom: 1px solid #cfcfcf; }
.campaign-price-input .pledge-title { margin-left: 0; }

#eddcf_custom_price { max-width: 100%; padding-top: 1em; padding-bottom: 1em; }

.currency { float: left; display: inline-block; padding: 1em 0; margin-left: -3em; width: 3em; text-align: center; font-weight: lighter; }

.currency-right #eddcf_custom_price { float: left; max-width: 80%; }
.currency-right .currency { margin-left: 0; }

.edd_purchase_submit_wrapper { float: left; width: 100%; padding-left: 3em; }
